snippet var "Variable print for debugging"
std::cout<<"\nValue of the variable \"${1:Variable name}\" is \""<<$1<<"\".";
endsnippet

snippet action "Action printer"
std::cerr<<"\n\n------------------------------------------------------- Action: ${1:Action name} \n";
endsnippet
