# !1| --------------------------------------------------
# !1| General
# !1| --------------------------------------------------

snippet mlcomm "Multi-line comment" bA
# Don't use hacks to comment on many lines.
endsnippet

snippet slcomm "Single-line comment" bA
# $1
endsnippet

snippet prs "string printer" bA
echo $1
endsnippet

# !1| --------------------------------------------------
# !1| Regular expressions
# !1| --------------------------------------------------



# !1| --------------------------------------------------
# !1| Debugging
# !1| --------------------------------------------------

# \n[var] "variable_name" := "variable_value"
snippet var "variable printer for debugging" bA
echo [var] \"$1\" := \"\$$1\"
endsnippet

# !1| --------------------------------------------------
# !1| Miscelanous
# !1| --------------------------------------------------
