# std::cout<<"\nValue of the variable \"${1:Variable name}\" is \""<<$1<<"\".";
snippet var "Variable print for debugging"
std::cout<<"\n[var] \"${1:Variable name}\" := \""<<$1<<"\".";
endsnippet

snippet action1
std::cerr<<"\n\n█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ $1\n";
endsnippet

snippet action2
std::cerr<<"\n\n╚════════════════════════════════════════════ $1\n";
endsnippet 

snippet action3
std::cerr<<"\n\n└───────────────────────────── $1\n";
endsnippet
