# Lengths for debugging printers
# 60: ------------------------------------------------------------ 
#     █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ Action: $1
# 45: --------------------------------------------- 
#     ╚════════════════════════════════════════════ Sub-action: $1
# 30: ------------------------------ 
#     └───────────────────────────── Sub-sub-action: $1
