# Measurementss for debugging printers
# 105: ---------------------------------------------------------------------------------------------------------
#      █▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ Action: $1
# 75: ---------------------------------------------------------------------------
#     ╚══════════════════════════════════════════════════════════════════════════ Sub-action: $1
# 45: ---------------------------------------------
#     └──────────────────────────────────────────── Sub-sub-action: $1



