snippet { "Scope generator" i
{
	${VISUAL}$0
}
endsnippet

# Length: 60

snippet separator "." i
------------------------------------------------------------
endsnippet

snippet separator1 "Separator classifier with priority 1"
------------------------------------------------------------
////////////////////////////////////////////////////////////
$1
////////////////////////////////////////////////////////////
------------------------------------------------------------
endsnippet

snippet separator2 "Separator classifier with priority 2"
------------------------------------------------------------
$1
------------------------------------------------------------
endsnippet

snippet dilemma
wwwwwwwwwwwwwwwwwwwwwwwww 0 8888 0 wwwwwwwwwwwwwwwwwwwwwwwww
Dilemma: $1
wwwwwwwwwwwwwwwwwwwwwwwww 0 8888 0 wwwwwwwwwwwwwwwwwwwwwwwww
endsnippet

snippet me "creating a meaningful comment when commenting overcrowded files"
MY CONFIG: $1
endsnippet

snippet ( "parentheses initializer" i
(${VISUAL}$1)
endsnippet
