snippet action1
print("\n█▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ Action: $1")
endsnippet

snippet action2
print("\n╚══════════════════════════════════════════════════════════════════════════ Sub-action: $1")
endsnippet

snippet action3
print("\n└──────────────────────────────────────────── Sub-sub-action: $1")
endsnippet

snippet var
print(f"Value of the variable \"$1\" is: {$1}")
endsnippet
