snippet ; "." i
( ${VISUAL}$1 )
endsnippet

snippet : "." i
[ ${VISUAL}$1 ]
endsnippet

snippet p "." i
print( ${VISUAL}$1  )
endsnippet

snippet { "." i
{${VISUAL}$1}
endsnippet

snippet cblock "comment block"
"""
${VISUAL}
"""$0
endsnippet

snippet nl "newline" i
print("\n")
endsnippet 
