snippet action
print("------------------------------------------------------- Action: $1")$0
endsnippet

snippet ; "hola" i
( ${VISUAL}$1 )
endsnippet

snippet : "hola" i
[ ${VISUAL}$1 ]
endsnippet

snippet p "hola" i
print( ${VISUAL}$1  )
endsnippet
