snippet "lr (\w+)\." "Parenthesis (postfix)" riA
\\`!p snip.rv = match.group(1)` \left( $1 \right)$0
endsnippet

# SNAP:
# lr sin. ==> [\sin \left( \right)]
# lr cos. ==> [\cos \left( \right)]
# lr hello. ==> [\hello \left( \right)]
