snippet dm "A simple HTML tag" bA
<${1:tag}>
	${VISUAL}$2
</${1/(\w+).*/$1/}>
endsnippet

snippet mk "A simple intline HTML tag" iA
<${1:tag}>${VISUAL}$2</${1/(\w+).*/$1/}>
endsnippet

snippet cblock
<!--
${VISUAL}$1
--!>
endsnippet

snippet css "CSS style inserter" i
<link rel="stylesheet" type="text/css" href="$1">
endsnippet

snippet br "Break line" i
<br>
endsnippet

snippet < "tag" i
<${VISUAL}$1>
endsnippet
