# General {{{

snippet mlcomm "Multi-line comment" bA
"""
$1
"""
endsnippet

snippet slcomm "Single-line comment" bA
# $1
endsnippet

#}}}
# Miscelanous {{{

snippet done
"""
--------------------------- DONE ---------------------------
${1:${VISUAL}}
--------------------------- DONE ---------------------------
"""
endsnippet

#}}}
