# ------------------------------------------------------------
# ////////////////////////////////////////////////////////////
# General
# ////////////////////////////////////////////////////////////
# ------------------------------------------------------------

snippet { "Scope generator" i
{
	${VISUAL}$0
}
endsnippet

# ------------------------------------------------------------
# ////////////////////////////////////////////////////////////
# Separators
# ////////////////////////////////////////////////////////////
# ------------------------------------------------------------

# Length: 60
snippet sep "." i
------------------------------------------------------------
endsnippet

snippet sepa1 "Separator classifier with priority 1" A
$1
000000000000000000000000000000000000000000000000000000000000
endsnippet

snippet sepa2 "Separator classifier with priority 2" A
$1
------------------------------------------------------------
endsnippet

snippet sepb1 "." A
------------------------------------------------------------
////////////////////////////////////////////////////////////
$0
////////////////////////////////////////////////////////////
------------------------------------------------------------
endsnippet


snippet sepb2 "." A
------------------------------------------------------------
$0
------------------------------------------------------------
endsnippet


snippet dilemma
wwwwwwwwwwwwwwwwwwwwwwwww 0 8888 0 wwwwwwwwwwwwwwwwwwwwwwwww
Dilemma: $1
wwwwwwwwwwwwwwwwwwwwwwwww 0 8888 0 wwwwwwwwwwwwwwwwwwwwwwwww
endsnippet

snippet me "creating a meaningful comment when commenting overcrowded files"
MY CONFIG: $1
endsnippet
