snippet { "Scope generator" i
{
	${VISUAL}$0
}
endsnippet

snippet gw "Hello World!" i
Goodbye World!
endsnippet

snippet vimark "Vim default marker" Ai
{{{

${1:${VISUAL}}

$2}}}
endsnippet

snippet mvimark "Vim default marker" Ai
{{{$1
${VISUAL}
$2}}}$1
endsnippet

# Museum {{{1

# v1
# snippet sepa1 "." A
# ------------------------------------------------------------
# $1
# ------------------------------------------------------------
# endsnippet

# v2
# snippet sep1 "." A
# //////////////////////////////////////////////////
# --------------------------------------------------
# $1
# --------------------------------------------------
# //////////////////////////////////////////////////
# endsnippet

# v3
# snippet sep1 "." A
# !$1| $2 !$1|
# endsnippet

# v4
# THU, 27 JUN 2019
# snippet sep1 "." A
# !$1| --------------------------------------------------
# !$1| ${2:${VISUAL}}
# !$1| --------------------------------------------------
# $0
# endsnippet

#}}}1
